.slogan {
    display: inline-block;
    margin-left: 12px;
    font-size: 10pt;
    vertical-align: middle;
}

.left-panel-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 50;
    width: 280px;

}

@media only screen and (max-width: 600px) {
    .left-panel-wrapper {
        width: 250px;
    }
    .slogan {
        margin-left: 5px;
        font-size: 9pt;
    }
}
