.imageInfo-enter {
    max-height: 0;
}

.imageInfo-enter.imageInfo-enter-active {
    max-height: 66vh;
    transition: max-height 300ms;
}

.imageInfo-leave {
    max-height: 66vh;
}

.imageInfo-leave.imageInfo-leave-active {
    max-height: 0;
    transition: max-height 300ms;
}

.gallery-toolbox {
    margin-top: 8px;
    margin-left: 60px;
}

.images-container {
    margin: 53px 20px 10px 60px;
}

@media only screen and (max-width: 600px) {
    .images-container {
        margin-left: 20px;
    }

    .gallery-toolbox {
        margin-left: 20px;
    }
}
