.imageInfo-enter {
    max-height: 0;
}

.imageInfo-enter.imageInfo-enter-active {
    max-height: 70vh;
    transition: max-height 300ms;
}

.imageInfo-leave {
    max-height: 70vh;
}

.imageInfo-leave.imageInfo-leave-active {
    max-height: 0;
    transition: max-height 300ms;
}
