.imageInfoImg-appear {
    opacity: 0.01;
}

.imageInfoImg-appear.imageInfoImg-appear-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.imageInfoImg-enter {
    opacity: 0.01;
}

.imageInfoImg-enter.imageInfoImg-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.image-content-wrapper {
    height: 66vh;
    width: calc(100% - 60px);
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    background: #FFF;
    overflow-y: scroll;
    margin: 0px 10px 10px 60px;
    overflow-x: hidden;
    z-index: 200;
}

@media only screen and (max-width: 600px) {
    .image-content-wrapper {
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}
